{
  "presets":[
    "node5",
    "stage-0"
  ],
  "plugins":[
    "array-includes",
    "transform-object-rest-spread",
    "syntax-class-properties",
    [
      "syntax-async-functions",
      {
        "module":"bluebird"
      }
    ]
  ]
}