doctype html
html
  head
    meta(charset="UTF-8")
    script(src='../scripts/app/Bootstrap.min.js',defer=true)
    link(rel='stylesheet', type='text/css', href='../styles/app.min.css')
    style.
      body,.full {width:100%;height:100%;position:relative;}
  body
    #app.full