extends restaurant

block body
  script(type='text/javascript', src='cordova.js')
  script(type='text/javascript', src='scripts/cordova.js')
  style.
    body {
      padding-top: 20px;
      box-shadow: inset 0 20px 0 rgba(0, 0, 0, 0.2);
    }
