extends shared/layout

block header
  link(rel='stylesheet', type='text/css', href='styles/registration.min.css')
  script(src='scripts/registration/Bootstrap.min.js',defer=true)
  include shared/analytics