.input {
  width: 100%;
  color: #000;
  background: #FFF;
  line-height: 19px;
  padding: 12px;
  font-size: 15px;
  text-align: left;
  border-radius: 4px;
  margin-bottom: 20px;
  font-weight: bold;
  border: 1px solid #DDD;
  &:last-child {
    margin-bottom: 0;
  }
  &.disabled {
    background: rgba(238, 238, 238, 0.53);
    border: none;
    color: #888;
  }
}

.group {
  margin-bottom: 20px;
  .item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 600px) {
  .group {
    display: block !important;
    .item {
      margin-right: 0;
      margin-bottom: 20px;
      display: block !important;
    }
  }
}

.section {
  padding: 10px;
  background: #EEE;
  border: 1px solid #DDD;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  /* background: #228AE6; */
  background: transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  font-size: 13px;
  color: #228AE6;
  letter-spacing: 1.25px;
  line-height: 19px;
  padding: 11px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms;
  margin-bottom: 20px;
  border-radius: 6px;
  text-transform: uppercase;
  border: 2px solid rgb(34, 138, 230);
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background: #228AE6;
    color: #FFF;
  }
  &:active {
    background: #103f69;
    color: #FFF;
  }
}

.modal {
  width: 500px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px;
  margin: 90px auto 30px;

  @media (max-width: 600px) {
    transform: none;
    width: 100%;
    margin: 0;
    top: 0;
    padding: 90px 15px 15px;
    border-radius: 0;
  }
}

.label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #999;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}