.scroll {
  overflow: hidden;
  &:hover {
    overflow: auto;
  }
  &.scroll-y:hover {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.scroll-x:hover {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.no-scroll {
  overflow: hidden;
}