@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/tabs";
@import "shared/messenger";

body, #app, html {
  overflow: hidden;
  background: #FFF;
}

input, textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Proxima Nova', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.user-list {
  border-right: 1px solid #DDD;
  background: #EEE;
}

.user-list-wrapper {
  max-width: 300px;
  @media (max-width: 600px) {
    max-width: 80px;
  }
}

.user {
  padding: 15px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  .picture {
    background: #BBB;
    color: #EEE;
    height: 50px;
    width: 50px;
    max-width: 50px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
  }
  .number {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
  }
  @media (max-width: 600px) {
    .extra {
      display: none;
    }
  }
  .text {
    font-size: 12px;
    color: #888;
    max-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.selected {
    background: rgb(14, 122, 254);
    .picture {
      background: #FFF;
      color: rgb(14, 122, 254);
    }
    .number {
      color: #FFF;
    }
    .text {
      color: #FFF;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}

.empty {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  @extend .center-vertical;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  color: #CCC;
}