@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/tabs";
@import "shared/messenger";
@import "shared/card";

body {
  font-family: 'Proxima Nova', "Helvetica", "Helvetic Neue", "Open Sans", sans-serif;
  overflow: hidden;
}

input, textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}

#app {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.input-wrapper {
  padding: 5px;
  background: #EEE;
}

.header {
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo {
  background: url(../images/logo10.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  display: inline-block;
}

.paypal {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  margin-right: 10px;
  background: #DDD url(../images/paypal2.png) no-repeat center center;
  background-size: 120%;
  border-radius: 3px;
}

.braintree {
  background: url(../images/braintree3.jpeg);
  width: 40px;
  height: 40px;
  background-size: cover;
  display: inline-block;
  float: right;
  border-radius: 3px;
  opacity: 0.8;
}

.info {
  font-size: 11px;
  line-height: 14px;
  color: #AAA;
  margin-top: 12px;
}

@import 'shared/form-modal';