@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/tabs";
@import "shared/messenger";

body {
  font-family: 'Proxima Nova', "Helvetica", "Helvetic Neue", "Open Sans", sans-serif;
  overflow: hidden;
}

input, textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}

#app {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.input-wrapper {
  padding: 5px;
  background: #EEE;
}

@import 'shared/form-modal';