@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/tabs";
@import "shared/messenger";

body {
  font-family: 'Proxima Nova', "Helvetica", "Helvetic Neue", "Open Sans", sans-serif;
  overflow: hidden;
}

input, textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}

#app {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  background: #228AE6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0px;
  font-size: 15px;
  color: #FFF;
  letter-spacing: 1.25px;
  line-height: 19px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background 300ms;
  &:active {
    background: #103f69;
  }
}

.input-wrapper {
  padding: 5px;
  background: #EEE;
}

.input {
  color: #000;
  background: #FFF;
  line-height: 19px;
  padding: 12px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid #DDD;
}

.blur {
  filter: blur(50px);
}

.animate-transform {
  transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

video {
  width: 100%;
  position: absolute;
  top: 0;
}

.from-me {
  background: #3BCE29 !important;
  &:before {
    border-color: #3BCE29 !important;
  }
}

.animate-opacity {
  transition: opacify 500ms;
}

.translate-up {
  transform: translate3d(0, -250px, 0);
}

.phone {
  width: 325px;
  margin: 0 auto;
  max-width: 325px;
  height: 665px;
  max-height: 665px;
  background: url(../images/iphone-black.png) no-repeat;
  background-size: 101% auto;
  padding: 85px 19px 85px 22px;
  box-shadow: 0 0 100px #000;
  border-radius: 46px;
  > .viewport {
    background: #EEE;
    width: 100%;
    height: 68%;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
  }

  .status-bar {
    height: 17px;
    min-height: 17px;
    max-height: 17px;
    background: url(../images/header.png) no-repeat center top;
    background-size: 100% auto;
  }
}

.catchphrase {
  font-size: 17px;
  color: #FFF;
  letter-spacing: 0px;
}

.main-logo {
  background: url(../images/logo3.png);
  background-size: cover;
  width: 225px;
  height: 100px;
}

.background {
  background: url(../images/top.jpg) 10% center;
  background-size: cover;
}

.phone-wrapper {
  padding: 15px 0;
  width: 100%;
  position: fixed;
  bottom: -400px;
  left: 0;
  right: 0;
}

.modal {
  background: #000;
  box-shadow: 0 -10px 50px rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 0;
}

.secondary-logo-wrapper {
  position: absolute;
  top: -120px;
  height: 65px;
  width: 100%;
  opacity: 0;
}

.secondary-logo {
  background: url(../images/logo4.png) left center;
  background-size: cover;
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

.fb-messengermessageus-wrapper {
  position: absolute;
  top: -41px;
  height: 41px;
  width: 100%;
  text-align: center;
}

.fb-messengermessageus {
  height: 35px;
  display: inline-block;
  margin: 0 auto;
}

.contact {
  display: block;
  text-decoration: none;
  width: 40px;
  height: 25px;
  position: fixed;
  text-indent: 5px;
  background: #228AE6;
  border-radius: 0 0 0 30px;
  right: 0;
  top: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45);
  text-align: center;
  line-height: 25px;
  font-size: 11px;
  color: #FFF;
  letter-spacing: 1px;
  z-index: 999;
  font-weight: bold;
}


.twitter {
  display: block;
  text-decoration: none;
  width: 40px;
  height: 25px;
  position: fixed;
  background: #228AE6;
  border-radius: 0 0 30px 0;
  left: 0;
  top: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45);
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  color: #FFF;
  letter-spacing: 1px;
  z-index: 999;
  font-weight: bold;
}