@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/tabs";
@import "shared/messenger";

body {
  font-family: 'Proxima Nova', "Helvetica", "Helvetic Neue", "Open Sans", sans-serif;
  overflow: hidden;
}

input, textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}

#app {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  background: #228AE6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0px;
  font-size: 15px;
  color: #FFF;
  letter-spacing: 1.25px;
  line-height: 19px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  //margin: 10px;
  //border-radius: 5px;
}

.input {
  border-radius: 0px;
  color: #000;
  background: #FFF;
  letter-spacing: 1.5px;
  line-height: 19px;
  padding: 16px;
  font-size: 15px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.blur {
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.animate-transform {
  transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

video {
  width: 100%;
  position: absolute;
  top: 0;
}

.from-me {
  background: #3BCE29 !important;
  &:before {
    border-color: #3BCE29 !important;
  }
}