@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/checkbox";
@import "shared/tabs";

body {
  font-family: 'Proxima Nova', "Helvetica", "Helvetic Neue", "Open Sans", sans-serif;
  overflow: hidden;
  background: linear-gradient(to bottom, #3F51B5, #000);
  transition: background 300ms;
  &.red {
    background: linear-gradient(to bottom, #FF5722, #573273);
  }
  &.green {
    background: linear-gradient(to bottom, #3FB5B0, #573273);
  }
  &.black {
    background: linear-gradient(to bottom, #303242, #000);
  }
}

input, textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}

#app {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.group {
  position: relative;
  width: 100%;
  .empty {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #777;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    position: absolute;
  }
  .header {
    background: #111;
    padding: 20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.order {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  width: 100%;
  .forward {
    color: #fff;
    font-size: 40px;
    text-align: right;
    max-width: 20px;
    min-width: 20px;
    width: 20px;
    padding-right: 19px
  }

  .date {
    font-size: 70%;
    color: rgba(255, 255, 255, 0.64);
    text-align: left;
    padding-right: 10px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .name {
    color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
  }
  .id {
    &:before {
      content: '# ';
      font-size: 15px;
      color: #999;
      position: relative;
      top: -6px;
      display: none;
      left: -3px;
    }
    transition: background 300ms;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100px;
    -webkit-justify-content: center;
    justify-content: center;
    height: 50px;
    letter-spacing: 1px;
    margin: 15px;
    margin-left: 0;
    .red & {
      background: #FF5722;
    }
    .green & {
      background: rgba(64, 172, 172, 0.67);
    }
    .blue & {
      background: rgba(64, 88, 181, 0.6);
    }
    .entree {

    }
  }
  .cost {
    &:before {
      content: '$ ';
      font-size: 18px;
      color: #999;
      position: relative;
      left: -3px;
    }
    text-align: right;
    font-size: 18px;
    color: #fff;
    padding-right: 10px;
    font-weight: bold;
  }
  .button {
    padding: 0 20px;
    border-radius: 4px;
    color: #FFF;
    border: 1px solid #333;
    font-size: 70%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
    height: 35px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 140px;
    min-width: 140px;
    user-select: none;
    cursor: pointer;
    &.blue {
      background: #00A7E6;
      border: none;
    }
    &.icon:before {
      left: -5px;
      position: relative;
      font-size: 110%;
    }
    &.icon-only {
      &.icon:before {
        left: 0;
      }
      padding: 0;
      max-width: 40px;
      min-width: 40px;
    }
  }

  .bgRed {
    background: #F44336 !important;
  }

  .bgGreen {
    background: #4CAF50 !important;
  }

  .bgBlue {
    background: #2196F3 !important;
  }

  .bgGray {
    background: #888 !important;
  }

  .bgYellow {
    background: #FFC107 !important;
  }
}

.header {
  //border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 55px;

  &.pad {
    padding-top: 20px;
    box-shadow: inset 0 20px 0 rgba(0, 0, 0, 0.2);
    min-height: 75px !important;
  }

  .nav-left, .nav-right {
    max-width: 50px;
    min-width: 50px;
    color: #FFF;
    &.back {
      font-size: 40px;
    }
    &.menu {
      font-size: 25px;
    }
  }

  .title {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .subtitle {
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.55);
  }

  .text {
    padding: 10px 0;
  }

  .children {
    padding: 20px;
  }

  &.pad {
    padding-top: 20px;
    box-shadow: inset 0 20px 0 rgba(0, 0, 0, 0.2);
  }
}

.value {
  font-size: 50px;
  text-align: center;
  color: #FFF;
  .small & {
    font-size: 30px;
  }
}

.desc {
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
  text-transform: uppercase;
  letter-spacing: 1px;
  .small & {
    font-size: 12px;
  }
}

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.info {
  align-items: flex-start !important;
  padding: 5px 0;
  &.small {
    .value {
      font-size: 20px !important;
    }
  }
}

.item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  padding: 15px 15px;

  .quantity {
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    max-height: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.42);
  }

  .name {
    color: #FFF;
    font-weight: bold;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cost {
    text-align: right;
    align-items: flex-end;
    color: rgba(255, 255, 255, 0.53);
    letter-spacing: 1px;
    font-size: 15px;
    align-items: flex-end;
    justify-content: center;
  }
}

.floater {
  padding: 8px;
  border-radius: 4px 4px 0 0;
  background: #2F3C4F;
  .button {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFF;
    font-size: 13px;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.dim {
      background: #4B5A73;
    }
    &.bright {
      background: #03A9F4;
    }
    &.red {
      background: #FF5722;
    }
    &.green {
      background: #3AE041;
    }
  }
}

.status {
  //background: rgba(0, 0, 0, 0.24);
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .event {
    text-align: center;
    background: rgba(255, 255, 255, 0.11);
    padding: 9px;
    border-radius: 5px 0 0 5px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.64);
    position: relative;
    //border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 11px 12px;
    &:last-child {
      margin-right: 30px;
    }

    &:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      /* border-color: #88b7d5; */
      border-width: 30px;
      margin-top: -15px;
      border-top: solid 15px transparent;
      border-left: solid 15px rgba(255, 255, 255, 0.11);
      border-bottom: solid 15px transparent;
      margin-left: 0px;
    }
  }

  .event.active {
    color: #FFF;
    .red & {
      background: #FF5722;
    }
    .green & {
      background: rgba(64, 172, 172, 0.67);
    }
    .blue & {
      background: rgba(64, 88, 181, 0.6);
    }
    &:after {
      border-left-color: #FF5722;
      .red & {
        border-left-color: #FF5722;
      }
      .green & {
        border-left-color: rgba(64, 172, 172, 0.67);
      }
      .blue & {
        border-left-color: rgba(64, 88, 181, 0.6);
      }
    }
  }
}

.vignette {
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  .modal-box {
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 60px #000;
    border-bottom: 1px solid #3D4B90; /* margin: 20px; */
    border-radius: 0;
    .modal-header {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
      padding: 25px 15px;
    }
    .body {
      padding: 20px;
    }
    input, textarea {
      padding: 5px 15px;
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid #CCC;
      border-radius: 5px;
      display: inline-block;
      width: 100%;
      color: #000;
      font-size: 31px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
      &.stretch {
        margin: 0;
        border: none;
        background: #f2f2f2;
        font-size: 17px;
        padding: 20px 15px;
        text-align: left;
        color: #000;
        font-weight: normal;
        border-top: 1px solid #EEE;
        border-radius: 0;
        letter-spacing: 0;
      }
    }
    textarea {
      text-align: left;
      font-size: 15px;
      font-weight: normal;
      padding: 15px;
      resize: none;
      letter-spacing: 1px;
      min-height: 200px;
    }
    hr {
      opacity: 0.5;
      margin: 20px 0;
    }
    .value {
      color: #000;
    }
    .desc {
      color: #AAA;
      text-align: center;
      &.normal {
        text-transform: none;
      }
      &.bold {
        color: #888;
        font-size: 18px;
      }
    }
    .button {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      color: #FFF;
      font-size: 16px;
      padding: 15px 0;
      background: #3AE041;
      border-radius: 6px;
      width: 100%;
      margin-bottom: 10px;
      user-select: none;
      cursor: pointer;
      .add {
        font-size: 12px;
        margin-right: 10px;
      }
      &.orange {
        background: #FFC107;
      }
      &.red {
        background: #FF5722;
      }
      &.teal {
        background: #009688;
      }
      &.navy {
        background: #607D8B;
      }
      &.purple {
        background: #00BCD4;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.board {
  position: absolute;
}

.board-enter {
  position: absolute;

  transition-duration: 333ms;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
  transform: translate3d(100%, 0, 0);
  z-index: 10000;
}

.board-enter.board-enter-active {
  transform: translate3d(0, 0, 0);
}

.board-leave {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.board-leave.board-leave-active {
  transform: translate3d(-100%, 0, 0);
  //opacity: 0;
}

.modal {
  opacity: 1;
  transition: opacity .1s, visibility .1s;
  &:empty {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.modal-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100%;
}

.modal-enter {
  transform: translateY(-100%);
  transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal-enter.modal-enter-active {
  transform: translateY(0);
}

.modal-leave {
  transform: translateY(0);
  transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal-leave.modal-leave-active {
  transform: translateY(-100%);
}

.order-list-enter {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: linear;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.order-list-enter.order-list-enter-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.order-list-leave {
  //transform: translate3d(0, 0, 0);
  //transition: transform .5s linear;
}

.order-list-leave.order-list-leave-active {
  //transform: translate3d(0, 100%, 0);
}

.bubble {
  font-size: 12px;
  width: 23px;
  height: 23px;
  background: #888;
  min-width: 23px;
  min-height: 23px;
  display: inline-block;
  line-height: 23px;
  border-radius: 40px;
  color: #fff;
  margin-right: 5px;
  margin-left: -28px;
  vertical-align: top;
  position: relative;
  top: 10px;
  &.light {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.35);
  }
}

.profile {
  height: 90px;
  width: 90px;
  min-height: 90px;
  min-width: 90px;
  max-height: 90px;
  max-width: 90px;
  float: right;
  border-radius: 90px;
  background: #00BCD4;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
}

.modal-box {
  .nav-left, .nav-right {
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.35);
    text-align: left;
    &.back {
      font-size: 50px;
    }
    &.menu {
      font-size: 25px;
    }
  }
  .message {
    padding: 10px 0;
    .text {
      border-radius: 20px;
      width: 70%;
      padding: 15px;
      display: inline-block;
      font-size: 16px;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    }
    &.left {
      text-align: left;
      .text {
        border: 1px solid #E8EAF7;
      }
    }
    &.right {
      text-align: right;
      .text {
        background: #00BCD4;
        color: #FFF;
      }
    }
  }
}

.sidebar {
  width: 300px;
  height: 100%;
  transform: translate3d(-300px, 0, 0);
  position: absolute;
  z-index: 1000;
  background: rgba(19, 18, 18, 0.93);
  box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.1);
  overflow: hidden;
  color: #FFF;
  .median {
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.07);
    position: relative;
    left: -1px;
  }
  .title {
    font-size: 20px;
    position: relative;
    text-align: center;
    margin-top: -10px;
    font-weight: bold;
    min-height: 20px;
    max-height: 20px;
  }
  .subtitle {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 4px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    min-height: 12px;
    max-height: 12px;
  }
  .item {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 0;
    width: 100%;
    font-size: 15px;
    border-bottom: none;
    position: relative;
    left: -1px;
    &:last-child {
      border-bottom: none;
    }
    &.selected {
      background: rgba(0, 0, 0, 0.47);
      box-shadow: inset -6px 0 0 #FFC107;
    }
  }
  .bubble {
    font-size: 8px;
    width: 17px;
    height: 17px;
    background: rgba(255, 255, 255, 0.3);
    min-width: 17px;
    min-height: 17px;
    display: inline-block;
    line-height: 17px;
    border-radius: 40px;
    color: #fff;
    margin-right: 5px;
    margin-left: 0;
    vertical-align: top;
    position: relative;
    top: 3px;
    &.light {
      color: rgba(255, 255, 255, 0.8);
      background: rgba(255, 255, 255, 0.35);
    }
  }
  .value {
    font-size: 20px;
    text-align: center;
    color: #FFF;
    margin-bottom: 4px;
    font-weight: bold;
  }
  .desc {
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.52);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.animate-transform {
  transition: transform 333ms ease-in-out;
}

.blur {
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.animate-show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s cubic-bezier(.36, .07, .19, .97);
}

.animate-hide {
  opacity: 0.0;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(.36, .07, .19, .97);
}

.animate-shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.login {
  .input {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    background: rgba(255, 255, 255, 0.12);
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.secondary-logo {
  background: url(../images/logo10.png) center center;
  background-size: cover;
  height: 92px;
  width: 91px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.accept-label {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  width: 100%;
  font-weight: bold;
}

.big-button {
  background: #FF5722;
  font-size: 14px;
  border-radius: 5px;
  padding: 15px;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
  cursor: pointer;
}

.banner {
  text-align: center;
  background: #FFC107;
  font-size: 12px;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  cursor: pointer;
  padding: 10px 0 10px;

  .ios & {
    padding-top: 25px;
  }
}
