@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";

.header {
  width: 100%;
  padding: 20px;
  background: #111;
  //border-bottom: 1px solid #3A3E4D;
  color: #555;
  font-weight: 100;
  font-size: 40px;
  min-height: 60px;
  &.black {
    background-color: #000;
  }
}

.message {
  font-size: 14px;
  color: #AAA;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

.body {
  background: #111;
  padding: 20px;
  &.black {
    background-color: #000;
  }
}

.pill {
  background: #222;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
}

.message {

}